<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior"
					 name="MessageService.ManagerService">
				<endpoint address="MessageService"
						  binding="netTcpBinding"
						  contract="MessageService.IUserManager" />

				<endpoint address="MessageService"
						  binding="netTcpBinding"
						  contract="MessageService.IChatService" />

				<endpoint address="MessageService"
						  binding="netTcpBinding"
						  contract="MessageService.IMatchService" />

				<endpoint address="MessageService"
						  binding="netTcpBinding"
						  contract="MessageService.INotificationService" />

				<endpoint address="MessageService"
						  binding="netTcpBinding"
						  contract="MessageService.IGameService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.229.202:8082" />
						<add baseAddress="net.tcp://192.168.229.202:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None">
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<!--<add name="DataBaseConnect" connectionString="data source=.\SQLEXPRESS;initial catalog=Mexicanos;user id=AdminT;password=Tecno2022;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="DataContext" connectionString="data source=.\SQLEXPRESS;initial catalog=Mexicanos;user id=AdminT;password=Tecno2022;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>